* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}

main {
    margin-top: 500px;
}

/*NAVBAR*/
.header-site {
    border-bottom: 2px solid black;
    height: 50px;
}

.pembungkus-header {
    display: flex;
    align-items: center;
    padding: 0 100px;
    height: 100%;
    width: 100%;
}
/* 
.navbar-kiri {
    width: 60%;
} */

.pembungkus-navbar-kanan {
    display: flex;
    width: 100%;
}

.navbar-menu nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
    margin: 150px;
    font-size: 12px;
}

.navbar-menu .menu-item {
    text-decoration: none;
    color: black;
}


/* FORM STATUS */
.pembungkus-status {
    width: 100%;
    background-color: #242582;
    display: flex;
    flex-direction: column;
}

.container-atas {
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

.container-atas h1 {
    letter-spacing: 3px;
}

.container-tengah {
    width: 100%;
    background-color: #242582;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-tengah label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 100px;
}

.container-tengah input[type = "text"], input[type = "number"] {
    width: 14%;
    background: transparent;
    color: white;
    outline: none;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    left: 0%;
    margin-bottom: 30px;
}

/* .container-tengah #nama-status, .container-tengah #nomor-status {
    width: 14%;
    background: transparent;
    color: white;
    outline: none;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    left: 0%;
    margin-bottom: 30px;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-tengah ::placeholder {
    color: white;
}

.container-tengah input[type = "submit"] {
    border: none;
    background-color: #242582;
    height: 40px;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 100px;
}

.container-bawah {
    width: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
    background-color:#242582;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
/*  */
.contoh-container {
    background-color:#242582;
    padding: 100px;
    /* margin-top: 100px; */
}

.contoh-title {
    text-align: center;
    text-transform: uppercase;
    color:white;
    margin-bottom: 50px;
}

.contoh-content {
    padding-left: 150px;
}

.contoh-content td {
    padding-left: 40px;
    padding-bottom: 30px;
}

.form-contoh-content-label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color:white;
}

.form-contoh-content-input {
    background: transparent;
    color: white;
    outline: none;
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 24px;
    /* margin-left: 10px; */
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */
}

.contoh-content ::placeholder {
    color: white;
}

.contoh-content .butt-tambah {
    border: none;
    background-color: white;
    height: 40px;
    color: #242582;
    font-weight: 600;
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 300px;
    width: 200px;
}

.contoh-output {
    color:white;
    text-align: center;
    margin-top: 50px;
}

